.chat-header-container {
  @apply w-full h-50px bg-white
    p-l-16 p-r-16
    flex justify-between items-center
    border-b-1px border-b-solid border-color-bd-base;

  .opt-area {
    @apply flex items-center;

    .opt-icon {
      @apply cursor-pointer ml-12 c-fill-icon-dark
        hover:c-primary-hover;
    }

    .btn {
      @apply w-40px h-20px line-height-20px bg-fill-input c-text-secondary text-center font-size-12px cursor-pointer;

      &.active {
        @apply bg-black c-white;
      }

      border-top-left-radius: var(--im-border-radius-6);
      border-bottom-right-radius: var(--im-border-radius-6);
    }
  }
}
