$button-types: primary, success, warning, danger, info;

@mixin button-type-styles() {
  @each $type in $button-types {
    &.op-button--#{$type} {
      --ls-button-color: rgb(var(--ls-color-reverse));
      --ls-button-bg-color: rgb(var(--ls-color-#{$type}));
      --ls-button-border-color: rgb(var(--ls-color-#{$type}));
      --ls-button-hover-color: rgb(var(--ls-color-reverse));
      --ls-button-hover-bg-color: rgb(var(--ls-color-#{$type}-light-3));
      --ls-button-hover-border-color: rgb(var(--ls-color-#{$type}-light-3));
      --ls-button-active-color: rgb(var(--ls-color-reverse));
      --ls-button-active-bg-color: rgb(var(--ls-color-#{$type}-dark-2));
      --ls-button-active-border-color: rgb(var(--ls-color-#{$type}-dark-2));
      --ls-button-disabled-color: rgb(var(--ls-color-reverse));
      --ls-button-disabled-bg-color: rgb(var(--ls-color-#{$type}-light-5));
      --ls-button-disabled-border-color: rgb(var(--ls-color-#{$type}-light-5));
    }
  }
}

@mixin button-plain-styles() {
  @each $type in $button-types {
    &.op-button--#{$type} {
      --ls-button-color: rgb(var(--ls-color-#{$type}));
      --ls-button-bg-color: rgb(var(--ls-color-#{$type}-light-9));
      --ls-button-border-color: rgb(var(--ls-color-#{$type}-light-5));
      --ls-button-hover-color: rgb(var(--ls-color-reverse));
      --ls-button-hover-bg-color: rgb(var(--ls-color-#{$type}));
      --ls-button-hover-border-color: rgb(var(--ls-color-#{$type}));
      --ls-button-disabled-color: rgb(var(--ls-color-#{$type}-light-5));
      --ls-button-disabled-bg-color: rgb(var(--ls-color-#{$type}-light-9));
      --ls-button-disabled-border-color: rgb(var(--ls-color-#{$type}-light-8));
    }
  }
}

.op-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--ls-button-padding-y) var(--ls-button-padding-x);
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: var(--ls-button-color);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--ls-button-bg-color);
  border-color: var(--ls-button-border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  outline: none;

  &:hover {
    color: var(--ls-button-hover-color);
    background-color: var(--ls-button-hover-bg-color);
    border-color: var(--ls-button-hover-border-color);
  }

  &:active {
    color: var(--ls-button-active-color);
    background-color: var(--ls-button-active-bg-color);
    border-color: var(--ls-button-active-border-color);
  }

  @include button-type-styles;

  &.op-button--plain {
    --ls-button-hover-color: rgb(var(--ls-color-primary));
    --ls-button-hover-bg-color: rgb(var(--ls-color-card));
    --ls-button-hover-border-color: rgb(var(--color-primary));

    @include button-plain-styles;
  }

  &.op-button--disabled,
  &.op-button--disabled:hover,
  &.op-button--disabled:active {
    color: var(--ls-button-disabled-color);
    cursor: not-allowed;
    background-color: var(--ls-button-disabled-bg-color);
    border-color: var(--ls-button-disabled-border-color);
  }
}
