@import 'fonts/index.css';

*,
*::before,
*::after {
  font-family: Alibaba-PuHuiTi-R;

  @apply box-border m0 font-normal;
}

html,
body,
#app {
  @apply min-w-1200px min-h-screen font-size-14px line-height-[1.6];

  font-family: Alibaba-PuHuiTi-R;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
