@font-face {
  font-family: "im-icon-font"; /* Project id 4379211 */
  src: url('iconfont.woff2?t=1702971728246') format('woff2'),
       url('iconfont.woff?t=1702971728246') format('woff'),
       url('iconfont.ttf?t=1702971728246') format('truetype'),
       url('iconfont.svg?t=1702971728246#im-icon-font') format('svg');
}

.im-icon-font {
  font-family: "im-icon-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.im-icon-a-yonghu1:before {
  content: "\e6a7";
}

.im-icon-pindao:before {
  content: "\e6a6";
}

.im-icon-a-biaoqing1:before {
  content: "\e69a";
}

.im-icon-fankui:before {
  content: "\e69b";
}

.im-icon-chengyuan-xuanzhong:before {
  content: "\e69c";
}

.im-icon-tianjia:before {
  content: "\e69d";
}

.im-icon-a-shixiangku2:before {
  content: "\e69e";
}

.im-icon-chehui:before {
  content: "\e69f";
}

.im-icon-dachuangkou:before {
  content: "\e6a0";
}

.im-icon-kuaijiehuifu:before {
  content: "\e6a1";
}

.im-icon-xunlian:before {
  content: "\e6a2";
}

.im-icon-tianjia-waiyuan:before {
  content: "\e6a3";
}

.im-icon-guanbi:before {
  content: "\e6a4";
}

.im-icon-fuzhi:before {
  content: "\e6a5";
}

.im-icon-ocr:before {
  content: "\e697";
}

.im-icon-gengduo:before {
  content: "\e698";
}

.im-icon-quxiaoguanliyuan:before {
  content: "\e699";
}

.im-icon-chengyuan:before {
  content: "\e686";
}

.im-icon-zhuanrangxiaozu:before {
  content: "\e687";
}

.im-icon-a-pindao:before {
  content: "\e688";
}

.im-icon-a-fenxiangzhuanfa:before {
  content: "\e689";
}

.im-icon-bianji:before {
  content: "\e68a";
}

.im-icon-shipintonghua:before {
  content: "\e68b";
}

.im-icon-huiyi:before {
  content: "\e68c";
}

.im-icon-tianjia-bg:before {
  content: "\e68d";
}

.im-icon-a-sousuo:before {
  content: "\e68e";
}

.im-icon-yonghu:before {
  content: "\e68f";
}

.im-icon-wenti:before {
  content: "\e690";
}

.im-icon-a-jietu:before {
  content: "\e691";
}

.im-icon-baocun:before {
  content: "\e692";
}

.im-icon-yinyong:before {
  content: "\e693";
}

.im-icon-shanchu:before {
  content: "\e694";
}

.im-icon-jianshaochengyuan:before {
  content: "\e695";
}

.im-icon-niantie:before {
  content: "\e696";
}

