.app-header {
  user-select: none;

  @apply
    w-screen h-48px bg-primary relative;

  .user {
    @apply h-36px absolute top-50% flex left-8 rd-2 justify-center items-start cursor-pointer;

    transform: translateY(-50%);

    .avatar {
      @apply block w-36px h-36px mr-8 bg-warning rd-4;
    }

    .info {
      @apply h-100% flex flex-col justify-center items-start;

      .name {
        @apply font-size-14px mb--1px font-bold c-white;
      }

      .address {
        @apply font-size-12px c-white/70;
      }
    }
  }

  .menu {
    @apply h-100% flex justify-center items-center line-height-48px;

    .menu-item {
      @apply cursor-pointer w-76px flex items-center justify-center bg-primary c-white/80
        hover:c-white;

      &:hover {
        background-color: #4272dd;
      }

      &.menu-active {
        background-color: #4272dd;

        @apply c-white;
      }
    }
  }
}
